.accordion-style-1 .card {
    margin-bottom: 1rem;
    box-shadow: none;
}

.accordion-style-1 .card-header {
    padding: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.accordion-style-1 .card-header .btn {
    padding: 0.6rem 1.5rem 0.6rem 0.6rem;
    display: block;
    text-align: left;
    position: relative;
}

.accordion-style-1 .card-header .btn:after {
    position: absolute;
    content: "";
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #777;
}

.accordion-style-1 .card-header .btn[aria-expanded="true"]:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #777;
}

.accordion-style-1 .card-title {
    margin-top: 25px;
    text-transform: uppercase;
    font-weight: 600;
}

.accordion-style-1 .card-body {
    padding-bottom: 0;
}