.box-tab-wrapper {
    position: relative;
    margin-top: 15px;
}

.box-wrapper {
    display: flex;
    overflow-x: auto;
    flex: 1 0 auto;
    flex-wrap: wrap;
}

.box-wrapper li {
    display: flex;
    width: 24.25%;
    margin-right: 1%;
    margin-bottom: 1%;
    cursor: pointer;
}

.box-tab-wrapper .box {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    flex: 1 1 auto;
}

.text-ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box__title {
    background-color: #4285f4;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 2px 2px 0 0;
    padding: 13px 40px;
    color: #fff;
    position: relative;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.psa__box_icons {
    float: left;
}

.box__contents {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
    min-height: 63px;
    padding: 12px 12px 16px 12px;
    position: relative;
    background-color: #fff;
}

.box__actions {
    color: #4285f4;
    font-size: 14px;
    font-weight: 500;
    padding-top: 15px;
    text-transform: uppercase;
}

.tabs-wrapper {
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    width: 100%;
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
    min-height: 300px;
}
.tabs-wrapper.active {
    transform: scale(1);
}

.tabs-header {
    position: relative;
    background: #4285F4;
    overflow: hidden;
    min-height: 50px;
    height: 50px;
    color: #fff;
    padding: 12px;
}

.tabs-wrapper__close {
    position: absolute;
    right: 15px;
    z-index: 6;
    top: 14px;
    color: #fff;
    cursor: pointer;
}

.box-body {
    padding: 10px;
    border-radius: 0 0 3px 3px;
}