.card {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.card-body--without-title {
    padding-top: 0;
}

.card-title {
    margin-bottom: 1rem;
    font-weight: 600;
}

.card-header,
.card-body,
.card-footer {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
}