.checkbox--inline:not(:last-child), 
.radio--inline:not(:last-child) {
    margin-right: 1rem;
}


/* Apply Checkbox design on link who have not checkbox input */
.checkbox-style {
    position: relative;
    min-width: 18px;
    min-height: 18px;
    padding-left: 27px;
    text-align: left;
    margin: 0;
    color: #777;
    display: block;
}

.checkbox-style:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    left: 0;
    top: 0;
    border: 1px solid #ccc;
    background-color: transparent;
    transition: border .2s, background-color .2s;
}

.checkbox-style.active-text {
    color: #ed1c24;
}

.checkbox-style.active-text:before {
    background-color: #ed1c24;
    border-color: #ed1c24;
}

.accordion-style-1 .card .checkbox__label, 
.accordion-style-1 .card .radio__label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Radio without cirlce */
.radio--without-circle .radio__label {
    padding-left: 0;
    cursor: pointer;
}
.radio--without-circle .radio__label:before,
.radio--without-circle .radio__label:after {
    display: none;
}

.radio--without-circle input[type="radio"]:checked + .radio__label {
    color: #311d40;
}