[data-ma-theme=blue] .data-add-search-box {
    background-color: #000;
}

.data-add-search-box {
    padding: 10px 10px 30px 10px;
    position: relative;
    margin-bottom: 50px;
}

.data-add-search-box .form-group > label {
    color: #eaad4e;
}

.data-add-search-box .form-control {
    background-color: rgba(255,255,255,.15);
    border-bottom: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #fff;
}

.data-add-search-box__btn,
.data-add-search-box__cta-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
}

.data-add-search-box .form-control:disabled, 
.data-add-search-box .form-control[readonly] {
    opacity: 1;
    cursor: pointer;
}

.data-add-search-box .dropdown-menu input.form-control,
.data-add-search-box .dropdown-menu select.form-control,
.data-add-search-box .dropdown-menu textarea.form-control {
    border-bottom: 1px solid #777;
    color: #495057;
}

.data-add-search-box .dropdown-menu input.form-control,
.data-add-search-box .dropdown-menu textarea.form-control {
    padding-left: 0;
    padding-right: 0;
}

.data-add-search-box .dropdown-menu select.form-control {
    background-color: #fff;
}

.form-group--white .dropdown-menu .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(73, 80, 87, 0.5);
}
.form-group--white .dropdown-menu .form-control::-moz-placeholder { /* Firefox 19+ */
    color: rgba(73, 80, 87, 0.5);
}
.form-group--white .dropdown-menu .form-control:-ms-input-placeholder { /* IE 10+ */
    color: rgba(73, 80, 87, 0.5);
}
.form-group--white .dropdown-menu .form-control:-moz-placeholder { /* Firefox 18- */
    color: rgba(73, 80, 87, 0.5);
}

.img-preview-div .input-group-addon {
    max-width: 85px;
}

.friendsinout .spaLocationSection {
    position: relative;
}

.friendsinout .spaLocationSection + .spaLocationSection {
    border-top: 1px dashed #ccc;
    padding-top: 15px;
}

.friendsinout .spaLocationSection .remove_member {
    position: absolute;
    right: 0;
    bottom: 0;
}