.dropdown--material .dropdown-menu {
    background: #fff;
    box-shadow: 0 15px 12px rgba(0,0,0,.22), 0 0 38px rgba(0,0,0,.3);
    min-width: 200px;
    border-radius: 3px;
    width: 340px;
    display: block!important;
    transform: scale(0) !important;
    transform-origin: left top;
    opacity: 0;
    transition: transform .3s ease,opacity .3s ease;
    padding: 16px;
    border: none;
    left: 2px;
    top: 18px;
    
}

.dropdown-menu__scroll-box {
    max-height: 350px;
    overflow-y: auto;
}

.dropdown--material-right .dropdown-menu {
    transform-origin: right top;
    left: auto !important;
    right: 0 !important;
}

.dropdown--material-xlg .dropdown-menu {
    width: 680px;
}

.dropdown--material.show .dropdown-menu {
    visibility: visible;
    transform: scale(1) !important;
    opacity: 1;
}

.dropdown--material--with-label .dropdown-menu {
    top: 27px !important;
}

.dropdown--big .dropdown-menu {
    min-width: 600px;
}

.form-group--white .dropdown-menu label {
    color: #747a80;
}

.vertical-scroll::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.vertical-scroll::-webkit-scrollbar-track {
    background: #ccc; 
    border-radius: 10px;
}

/* Handle */
.vertical-scroll::-webkit-scrollbar-thumb {
    /* background: #ed1c24;  */
    background: #fdb912;
    border-radius: 10px;
}

/* Handle on hover */
.vertical-scroll::-webkit-scrollbar-thumb:hover {
    background: #777; 
}