.flatpickr-months,
.flatpickr-day.selected, 
.flatpickr-day.selected:hover {
    background-color: #000;
}

.flatpickr-months .flatpickr-next-month, 
.flatpickr-months .flatpickr-prev-month,
.flatpickr-current-month,
.flatpickr-months .flatpickr-next-month:hover, 
.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-day.selected, 
.flatpickr-day.selected:hover {
    color: #eaad4e;
}

.flatpickr-day.selected, 
.flatpickr-day.selected:hover {
    background-color: #000!important;
    color: #eaad4e!important;
}