.form-group--white > label,
.form-group--float-white .form-control:focus~label {
    color: #fff;
}

.form-group--white label {
    color: #fff;
}

.form-group--white .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
}
.form-group--white .form-control::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
.form-group--white .form-control:-ms-input-placeholder { /* IE 10+ */
    color: #fff;
}
.form-group--white .form-control:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.file-upload,
.file-upload .form-control {
    position: absolute;
    bottom: 0;
    right: 0;
}

.file-upload .form-control {
    opacity: 0;
}

.loading-text {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}

.form-group--float {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.form-control,
.select2-container--default .select2-selection--single,
.form-control:focus,
.dataTables_filter > label input[type=search], 
.dataTables_filter > label select, 
.dataTables_length > label input[type=search], 
.dataTables_length > label select {
    border-color: #777;
}

.form-control:disabled, .form-control[readonly] {
    cursor: not-allowed;
}

.form-group--float .form-control:focus~label {
    color: #868e96;
}