.modal-header,
.modal-header .close,
.modal-body,
.modal-footer {
    padding: 15px;
}

.modal-header {
    /* background-color: #311d40; */
    background-color: #000;
    
}

.modal-header .modal-title {
    color: #eaad4e;
}
.modal-header .close {
    color: #fff;
}

.modal-header .close {
    margin: -15px;
}

.modal-backdrop.show {
    opacity: 0.6;
} 

@media screen and (max-width: 767px) {
    .modal-body,
    .modal-footer {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
    }
    .modal-body {
        padding-top: 15px;
    }
}