.table td, 
.table th {
    padding: 0.5rem;
}

.table th {
    background-color: #2196F3;
    color: #fff;
}

.status_F ,  
.status_F > td, 
.status_F > th,
.status_M, 
.status_M > td, 
.status_M > th {
    color: #333;
}

.status_F ,  
.status_F > td, 
.status_F > th {
    background-color: #f5c6cb;
}

.status_M, 
.status_M > td, 
.status_M > th {
    background-color: #bee5eb;
}
.dataTables_filter{ float: left !important; }