<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cardio Sprint</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="/assets/vendors/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">

        <link rel="stylesheet" href="/assets/vendors/datatables/buttons.dataTables.min.css">
        <link rel="stylesheet" href="/assets/vendors/datatables/dataTables.bootstrap.css">
        <!-- <link rel="stylesheet" href="/assets/vendors/datatables/dataTables.bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="/assets/vendors/datatables/dataTables.min.css"> -->
        <link rel="stylesheet" href="/assets/css/component/datatable.css">
        <link rel="stylesheet" href="/assets/css/component/table.css">
        <link rel="stylesheet" href="/assets/css/app.min.css">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <!-- endinject -->
        <!-- Layout styles -->
        <link rel="stylesheet" href="/assets/css/demo_3/style.css">
        <!-- End layout styles -->
        <link rel="shortcut icon" href="/assets/images/favicon.png" />


            <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="/assets/vendors/chart.js/Chart.min.js"></script>
        <script src="/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

        <script type="text/javascript" src="/assets/js/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/assets/js/jquery-serialize-object.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.populate.js"></script>


        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="/assets/js/off-canvas.js"></script>
        <script src="/assets/js/hoverable-collapse.js"></script>
        <!-- <script src="/assets/js/misc.js"></script> -->
        <script src="/assets/js/settings.js"></script>
        <script src="/assets/js/todolist.js"></script>
        <script src="/assets/js/jquery.cookie.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page -->
        <script src="/assets/js/dashboard.js"></script>
<!-- 
        <script type="text/javascript" src="/assets/vendors/datatables/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="/assets/vendors/datatables/dataTables.bootstrap.min.js"></script> -->

        <script src="/assets/js/ajaxTable.js"></script>
        <!-- <script type="text/javascript" src="/assets/vendors/datatables/dataTables.scroller.js"></script> -->
        <!-- <script type="text/javascript" src="/assets/vendors/datatables/colResizable-1.6.min.js"></script> -->
        <!-- <script type="text/javascript" src="/assets/vendors/datatables/dataTables.fixedHeader.min.js"></script> -->
        <!-- <script type="text/javascript" src="/assets/vendors/datatables/dataTables.buttons.min.js"></script> -->

        <!-- End custom js for this page -->

        <script src="/assets/vendors/datatables/jquery.dataTables.min.js"></script>
        <script src="/assets/vendors/datatables/dataTables.buttons.min.js"></script>
        <!-- <script src="/assets/vendors/datatables-buttons/buttons.print.min.js"></script> -->
        <!-- <script src="/assets/vendors/jszip/jszip.min.js"></script> -->
        <!-- <script src="/assets/vendors/datatables-buttons/buttons.html5.min.js"></script> -->
        <!-- <script src="/assets/vendors/jquery/daterangepicker.js"></script> -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </head>