<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sukho Thai</title>
   <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="/bower_components/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bower_components/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  
    <style type="text/css">
    .invalid {
        display: inline-block !important;
        color: red
    }
    
    .header-container {
        background: #000;
        width: 100%;
        box-shadow: 0 0 2px 1px #ccc;
    }
    
    nav.header {
        width: 80%;
        display: block;
        margin: 0 auto;
        height: 70px;
    }
    
    img.kesari-round-logo {
        height: 55%;
        margin-top: 15px;
    }
    
    img.kesari-text-logo {
        height: 55%;
        margin-top: 15px;
    }
    
    .button--blue {
        /*background: #286090;
        border-color: #204d74;*/
        background: #000;
        /*box-shadow: 1px 1px 20px #c7037f;*/
        font-weight: 600;
        color: #eaad4e;
        padding: 6px 12px !important;
    }
    
    .button--blue:hover:not([disabled]) {
        /*background: #29d8cb;
    border-color: #27cbbf;*/
        color: #eaad4e
    }
    
    .button--blue:active:not([disabled]) {
        box-shadow: 0 1px 2px transparent, inset 0 2px 0 rgba(0, 0, 0, 0.08);
        background: #000;
        border-color: #eaad4e
    }
    
    .modal-backdrop {
        z-index: 0!important;
    }
    
    .container h4 {
        text-align: center;
        font-family: ubuntu;
        font-size: 31px;
        position: relative;
        margin: 26px auto 0;
        display: block;
        color: #D81111;
    }
    
    .login-panel{
        margin-top: 10%;
    }
    </style>
</head>

<body>
    <div class="header-container">
        <nav class="header">
            <img src="/images/st-logo.png" class="kesari-round-logo" alt="Sukho Thai Pvt. Ltd.">
        </nav>
    </div>
    <div class="container">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <!-- <div class="panel-heading">
                        <h3 class="panel-title">Please Login With Your ID</h3>
                    </div> -->
                    <div class="panel-body">
                      
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
