
<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Demographics </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Demographics</li>
                    </ol>
                </nav>
            </div>
            <div class="card">
                <div class="card-body">
                    <!-- <div class="row">
                        <div class="col-9">
                            <h4 class="card-title">Demographics </h4>
                        </div>
                        <div class="col-3">
                            <a href="/route/demographics/form" class="btn btn-info float-right p-2">ADD NEW</a>
                        </div>
                    </div> -->
                    <div class="row">

                        <div class="col-md-12" id="ageMasterListDiv">
                            <div class="card">
                                <div class="card-body card-body--without-title">
                                    <!-- <button class="btn btn-primary addNew">Add Age Master</button> -->
                                    <table id="DemographicsListTable" class="table table-bordered display nowrap order-column">
                                        <tbody class="">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- main-panel ends -->
</div>


<script type="text/javaScript">
    $(document).ready(function() {


        var dataColumns = [{
            data: "id",
            visible: false
        },{
            data: "patient_id",
            visible: false
        },{
            data: "first_name",
            sTitle: "Name",
            visible: true,
            className: "column-130",
            render: function (data, type, row) {
                var dataRender = "-";
                if (row && row.first_name) {
                    dataRender = row.first_name;
                }
                if (row && row.last_name) {
                    dataRender += ' ' + row.last_name;
                }
                return dataRender;
            }
        },{
            data: "sex",
            sTitle: "Sex",
            visible: true,
            className: "column-30",
            render: function (data, type, row) {
                var dataRender = "-";
                if (row && row.sex) {
                    dataRender = row.sex;
                }
                return dataRender;
            }
        },{
            data: "date_of_birth",
            sTitle: "Date of birth",
            visible: true,
            className: "column-100",
            render: function (data, type, row) {
                var dataRender = "-";
                if (row && row.date_of_birth) {
                    dataRender = row.date_of_birth;
                }
                return dataRender;
            }
        },{
            data: "reg_phone_number",
            sTitle: "Phone Number",
            visible: true,
            className: "column-100",
            render: function (data, type, row) {
                var dataRender = "-";
                if (row && row.reg_phone_number) {
                    dataRender = row.reg_phone_number;
                }
                return dataRender;
            }
        },{
            data: "aadhar_number",
            sTitle: "Aadhar number",
            visible: true,
            className: "column-100",
            render: function (data, type, row) {
                var dataRender = "-";
                if (row && row.aadhar_number) {
                    dataRender = row.aadhar_number;
                }
                return dataRender;
            }
        },{
            data: "address",
            sTitle: "Address",
            visible: true,
            className: "column-130",
            render: function (data, type, row) {
                var dataRender = "-";
                if (row && row.address) {
                    dataRender = row.address;
                }
                return dataRender;
            }
        },{
            data: "last_visit",
            sTitle: "Last visit",
            visible: true,
            className: "column-130",
            render: function (data, type, row) {
                var dataRender = "-";
                if (row && row.last_visit) {
                    dataRender = row.last_visit;
                }
                return dataRender;
            }
        },{
            data: "next_visit",
            sTitle: "Next visit",
            visible: true,
            className: "column-130",
            render: function (data, type, row) {
                var dataRender = "-";
                if (row && row.next_visit) {
                    dataRender = row.next_visit;
                }
                return dataRender;
            }
        },{
            data: "status",
            sTitle: "Status",
            width: "50px",
            render: function(data, type, row){
                var html = "";
                if(row['status']==1){
                    html = '<div class="status_'+row['id']+'"><a href="javascript:void(0);" class="badge badge-danger disableDemographics" data-id="'+row['id']+'">Disable</a></div>';
                }else{
                    html = '<div class="status_'+row['id']+'"><a href="javascript:void(0);" class="badge badge-success enableDemographics" data-id="'+row['id']+'">Enable</a></div>';
                }
                return html;
            }
        // },{
        //     data: "id",
        //     sTitle: "Action",
        //     render: function (data, type, row) {
        //         var html = "";
        //         html += '<a href="/route/demographics/edit/'+row['id']+'" class="edit_row m-2 badge badge-info" data-id="'+row['id']+'" >Edit</i></a>';
        //         html += '<a href="javascript:void(0);" class="badge badge-danger deleteDemographics" data-id="'+row['id']+'">Delete</a>';
        //         return html;
        //     }
        }];

        var DrawTableInquiry = DrawCustomDataTable("DemographicsListTable", 350, "/route/demographics/gridData", dataColumns, [
            [0, "desc"]
            ], "frm_grid_search",null,true,true);

        $("#frm_grid_search").validate({
            errorPlacement: function (error, element) { },
            submitHandler: function (form) {
                DrawTableInquiry.ajax.reload();
            }
        });

    });
</script>

<% include ../partials/footer %>