
<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid page-body-wrapper">

    <div class="main-panel">
     <div class="content-wrapper">
         <div class="page-header">
             <h3 class="page-title"> Doctor </h3>
             <nav aria-label="breadcrumb">
                 <ol class="breadcrumb">
                     <li class="breadcrumb-item">
                         <a href="/route/doctors">Doctor</a>
                     </li>
                     <li class="breadcrumb-item active" aria-current="page">Add New Doctor</li>
                 </ol>
             </nav>
         </div>
         <div class="row">
             <div class="col-md-6 grid-margin stretch-card">
                 <div class="card">
                     <div class="card-body">
                         <!-- <h4 class="card-title">Horizontal Form</h4> -->
                         <!-- <p class="card-description"> Horizontal form layout </p> -->
                         <form class="forms-sample" id="doctorMasterForm">
                             <div class="form-group row">
                                 <label for="exampleInputUsername" class="col-sm-3 col-form-label">Name</label>
                                 <div class="col-sm-9">
                                     <input type="hidden" class="form-control required" id="uId" name="uId" value="<%=editUser.uId%>" >
                                     <input type="text" class="form-control required" id="exampleInputUsername2" name="uName" value="<%=editUser.uName%>" placeholder="Username">
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                                 <div class="col-sm-9">
                                     <input type="email" class="form-control required" id="exampleInputEmail2" value="<%=editUser.uEmail%>" name="uEmail" placeholder="Email" readonly>
                                 </div>
                             </div>
                            
                             <div class="form-group row">
                                 <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                                 <div class="col-sm-9">
                                     <input type="text" class="form-control required" id="exampleInputMobile" value="<%=editUser.uMobile%>" name="uMobile" placeholder="Mobile number">
                                 </div>
                             </div>
                              <div class="form-group row">
                                 <label for="upload_uImage" class="col-sm-3 col-form-label">Profile Image</label>
                                 <div class="col-sm-9">
                                    <input type="file" class="form-control upload_img" accept="image/*" data-name="uImage" data-fileName="uImage_<%=editUser.uId%>" data-folder="uImage" data-div="uImage_image" name="upload_uImage" id="upload_uImage"/>
                                    <div class="uImage_image" target = "_blank">
                                        <% if(editUser.uImage){ %>
                                            <input type="hidden" class="form-control" name="uImage"  value="<%=editUser.uImage%>" />
                                            <a href="<%=editUser.uImage%>" target=_image><img src="<%=editUser.uImage%>" class="uImageView" data-type="img" target="_blank" data-url="<%=editUser.uImage%>" style="height:100px;width:100px;"></a>
                                        <% } %>
                                    </div>
                                     <!-- <input type="file" class="form-control required" id="uImage" value="<%=editUser.uImage%>" name="uImage" placeholder="Brand"> -->
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="uLocation" class="col-sm-3 col-form-label">Location</label>
                                 <div class="col-sm-9">
                                     <input type="text" class="form-control required" id="uLocation" value="<%=editUser.uLocation%>" name="uLocation" placeholder="Location">
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="uBrandName" class="col-sm-3 col-form-label">Brand Name</label>
                                 <div class="col-sm-9">
                                     <input type="text" class="form-control required" id="uBrandName" value="<%=editUser.uBrandName%>" name="uBrandName" placeholder="Brand Name">
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="upload_uBrandLogo" class="col-sm-3 col-form-label">Brand Logo</label>
                                 <div class="col-sm-9">
                                    <input type="file" class="form-control upload_img" accept="image/*" data-name="uBrandLogo" data-fileName="uBrandLogo_<%=editUser.uId%>" data-folder="uBrandLogo" data-div="uBrandLogo_image" name="upload_uBrandLogo" id="upload_uBrandLogo"/>
                                    <div class="uBrandLogo_image" target = "_blank">
                                        <% if(editUser.uBrandLogo){ %>
                                            <input type="hidden" class="form-control" name="uBrandLogo"  value="<%=editUser.uBrandLogo%>" />
                                            <a href="<%=editUser.uBrandLogo%>" target=_image><img src="<%=editUser.uBrandLogo%>" class="uBrandLogoView" data-type="img" target="_blank" data-url="<%=editUser.uBrandLogo%>" style="height:100px;width:100px;"></a>
                                        <% } %>
                                    </div>
                                     <!-- <input type="file" class="form-control required" id="uBrandLogo" value="<%=editUser.uBrandLogo%>" name="uBrandLogo" placeholder="Brand"> -->
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="uCategory" class="col-sm-3 col-form-label">Category</label>
                                 <div class="col-sm-9">
                                     <input type="text" class="form-control required" id="uCategory" value="<%=editUser.uCategory%>" name="uCategory" placeholder="Category">
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="uSpeciality" class="col-sm-3 col-form-label">Speciality</label>
                                 <div class="col-sm-9">
                                     <input type="text" class="form-control required" id="uSpeciality" value="<%=editUser.uSpeciality%>" name="uSpeciality" placeholder="Speciality">
                                 </div>
                             </div>
                            <!--  <div class="form-group row">
                                 <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                                 <div class="col-sm-9">
                                     <input type="password" class="form-control required" id="exampleInputPassword2" value="<%=editUser.uPassword%>" name="uPassword" placeholder="Password">
                                 </div>
                             </div> -->
                             <div class="modal-footer">
                                <button  type="submit" class="btn btn-primary btn-block button-submit">SAVE</button>
                               
                                <div class="clearfix"></div>
                                <div class="alert alert-success alert-dismissible fade show w-100 alert-hidden" id="success-alert-add">
                                    <strong>Success! </strong> Record added successfully.
                                </div>

                                <div class="alert alert-info alert-dismissible fade show w-100 alert-hidden" id="success-alert-update">
                                    <strong>Success! </strong> Record Update successfully.
                                </div>

                                <div class="alert alert-danger alert-dismissible fade show alert-hidden w-100" id="success-alert-error">
                                    <strong>Error! </strong> <span class="custom_error"></span>
                                </div>

                            </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- content-wrapper ends -->
    </div>

</div>

<script type="text/javaScript">
    $(document).ready(function() {
        let action_type = "POST";
        let SubmitUrlId = "";
        $("#doctorMasterForm").validate({
            rules: {
            },
            errorPlacement: function(error, element) {
                element.css('border', '1px solid red');
            },
            submitHandler: function(form) {
                $(".overlay").show();
                $('.button-submit').prop('disabled', true);
                var $form = $(form);
                var url = "/route/api/editProfile";
                var formData = $form.serializeObject();
                $.ajax({
                    url: url,
                    type: action_type,
                    data: JSON.stringify(formData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        $(".overlay").hide();
                        if(result.status){
                            if (action_type == "PUT") {
                                $("#success-alert-update").alert();
                                $("#success-alert-update").fadeTo(2000, 500).slideUp(500, function() { location.reload(); });
                                $('.btn-submit').attr('disabled', 'disabled');
                            } else {
                                $("#success-alert-add").alert();
                                $("#success-alert-add").fadeTo(2000, 500).slideUp(500, function() { location.reload(); });
                            }
                            document.getElementById("doctorMasterForm").reset();
                        }else{
                            $(".custom_error").html(result.message);
                            $("#success-alert-error").alert();
                            $("#success-alert-error").fadeTo(2000, 500).slideUp(500, function() {});
                        }
                        $('.button-submit').prop('disabled', false);
                        $('#errorMsg').html("");
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $(".overlay").hide();
                        if (jqXHR.status == 200 || jqXHR.status == 302) {
                            window.location.href = '/login';
                        }
                        var result = jQuery.parseJSON(jqXHR.responseText);
                        if (jqXHR.status == 500) {
                            $(".custom_error").html(result.message);
                            $("#success-alert-error").alert();
                            $("#success-alert-error").fadeTo(2000, 500).slideUp(500, function() {});
                        } else {
                            $(".custom_error").html(errorThrown);
                            $("#success-alert-error").alert();
                            $("#success-alert-error").fadeTo(2000, 500).slideUp(500, function() {});
                        }
                    }
                });
            }
        });

        $(document).on("change", ".upload_img", function() {
            var $this = $(this);
            var name = $(this).attr("name");
            var folder = $(this).attr("data-folder");
            var fieldName = $(this).attr("data-name");
            var fileName = $(this).attr("data-fileName");
            var fieldLocation = $(this).attr("data-div");
            var file_data = $(this).prop("files")[0];
            var form_data = new FormData();
            form_data.append("path", folder);
            form_data.append("fileName", fileName);
            form_data.append("file", file_data);
            $("#" + name + "_loader").html("Loading...");
            $.ajax({
                url: "/route/upload/upload",
                type: 'post',
                // dataType: 'json',
                data: form_data,
                cache: false,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                success: function(result) {
                    var data = JSON.stringify(result);
                    data = JSON.parse(data);
                    if(data.url){
                        console.log("urlllllllllllllllllllllllllll",data.url);
                        var titleImage = '<input type="hidden" class="form-control" name="'+fieldName+'"  value="' + data.url + '"  placeholder="images"  /><a href="'+data.url+'" target=_image><img src="' + data.url + '" class="sectorIMGView" data-type="img" target="_blank" data-url="'+ data.url +'" style="height:100px;width:100px;"></a>';
                        $("."+fieldLocation).html(titleImage);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var result = jQuery.parseJSON(jqXHR.responseText);
                    $(".custom_error").html(result.message);
                }
            });
        });
    });

</script>
<% include ../partials/footer %>