
<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid page-body-wrapper">

    <div class="main-panel">
     <div class="content-wrapper">
         <div class="page-header">
             <h3 class="page-title"> Doctor </h3>
             <nav aria-label="breadcrumb">
                 <ol class="breadcrumb">
                     <li class="breadcrumb-item">
                         <a href="/route/doctors">Doctor</a>
                     </li>
                     <li class="breadcrumb-item active" aria-current="page">Add New Doctor</li>
                 </ol>
             </nav>
         </div>
         <div class="row">
             <div class="col-md-6 grid-margin stretch-card">
                 <div class="card">
                     <div class="card-body">
                         <!-- <h4 class="card-title">Horizontal Form</h4> -->
                         <!-- <p class="card-description"> Horizontal form layout </p> -->
                         <form class="forms-sample" id="doctorMasterForm">
                             <div class="form-group row">
                                 <label for="exampleInputUsername" class="col-sm-3 col-form-label">Name</label>
                                 <div class="col-sm-9">
                                     <input type="text" class="form-control required" id="exampleInputUsername2" name="uName" placeholder="Username">
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                                 <div class="col-sm-9">
                                     <input type="email" class="form-control required" id="exampleInputEmail2" name="uEmail" placeholder="Email">
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                                 <div class="col-sm-9">
                                     <input type="text" class="form-control required" id="exampleInputMobile" name="uMobile" placeholder="Mobile number">
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
                                 <div class="col-sm-9">
                                     <input type="password" class="form-control required" id="exampleInputPassword2" name="uPassword" placeholder="Password">
                                 </div>
                             </div>
                             <div class="form-group row">
                                 <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                                 <div class="col-sm-9">
                                     <input type="password" class="form-control" id="exampleInputConfirmPassword2" name="ucPassword" placeholder="Password">
                                 </div>
                             </div>
                             <!-- <div class="form-check form-check-flat form-check-primary">
                                 <label class="form-check-label">
                                     <input type="checkbox" class="form-check-input"> Remember me </label>
                             </div> -->
                             <!-- <button type="submit" class="btn btn-gradient-primary me-2">Submit</button> -->
                             <div class="modal-footer">
                                <button  type="submit" class="btn btn-primary btn-block button-submit">SAVE</button>
                               
                                <div class="clearfix"></div>
                                <div class="alert alert-success alert-dismissible fade show w-100 alert-hidden" id="success-alert-add">
                                   <!--  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button> -->
                                    <strong>Success! </strong> Record added successfully.
                                </div>

                                <div class="alert alert-info alert-dismissible fade show w-100 alert-hidden" id="success-alert-update">
                                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button> -->
                                    <strong>Success! </strong> Record Update successfully.
                                </div>

                                <div class="alert alert-danger alert-dismissible fade show alert-hidden w-100" id="success-alert-error">
                                    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button> -->
                                    <strong>Error! </strong> <span class="custom_error"></span>
                                </div>

                            </div>
                             <!-- <button class="btn btn-light">Cancel</button> -->
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- content-wrapper ends -->
    </div>

</div>

<script type="text/javaScript">
    $(document).ready(function() {
        let action_type = "POST";
        let SubmitUrlId = "";
        $("#doctorMasterForm").validate({
            rules: {
            },
            errorPlacement: function(error, element) {
                element.css('border', '1px solid red');
            },
            submitHandler: function(form) {
                $(".overlay").show();
                $('.button-submit').prop('disabled', true);
                var $form = $(form);
                var url = "/route/api/userRegistration";
                if (SubmitUrlId != undefined && action_type == "PUT") {
                    url += SubmitUrlId;
                }
                var formData = $form.serializeObject();
                $.ajax({
                    url: url,
                    type: action_type,
                    data: JSON.stringify(formData),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(result) {
                        $(".overlay").hide();
                        if(result.status){
                            if (action_type == "PUT") {
                                $("#success-alert-update").alert();
                                $("#success-alert-update").fadeTo(2000, 500).slideUp(500, function() {});
                                $('.btn-submit').attr('disabled', 'disabled');
                            } else {
                                $("#success-alert-add").alert();
                                $("#success-alert-add").fadeTo(2000, 500).slideUp(500, function() {});
                            }
                            document.getElementById("doctorMasterForm").reset();
                        }else{
                            $(".custom_error").html(result.message);
                            $("#success-alert-error").alert();
                            $("#success-alert-error").fadeTo(2000, 500).slideUp(500, function() {});
                        }
                        $('.button-submit').prop('disabled', false);
                        $('#errorMsg').html("");
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $(".overlay").hide();
                        if (jqXHR.status == 200 || jqXHR.status == 302) {
                            window.location.href = '/login';
                        }
                        var result = jQuery.parseJSON(jqXHR.responseText);
                        if (jqXHR.status == 500) {
                            $(".custom_error").html(result.message);
                            $("#success-alert-error").alert();
                            $("#success-alert-error").fadeTo(2000, 500).slideUp(500, function() {});
                        } else {
                            $(".custom_error").html(errorThrown);
                            $("#success-alert-error").alert();
                            $("#success-alert-error").fadeTo(2000, 500).slideUp(500, function() {});
                        }
                    }
                });
            }
        });
    });

</script>
<% include ../partials/footer %>