
<% include ../partials/head %>
<% include ../partials/header %>
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> Doctor </h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Doctor</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Doctors</h4>
                            <!-- <p class="card-description"> Add class <code>.table-bordered</code>
                            </p> -->
                            <table class="table table-bordered w-100 table-responsive">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> Name </th>
                                        <th> Email </th>
                                        <th> Mobile </th>
                                        <th> Location </th>
                                        <th> BrandName </th>
                                        <th> Category </th>
                                        <th> Speciality </th>
                                        <th> Status </th>
                                        <th> Action </th>
                                    </tr>
                                    <tr>
                                        <td> <input type="hidden" name="uId" class="form-control uId"> </td>
                                        <td> <input type="text" name="uName" class="form-control rowFilter"> </td>
                                        <td> <input type="text" name="uEmail" class="form-control rowFilter"> </td>
                                        <td> <input type="text" name="uMobile" class="form-control rowFilter"> </td>
                                        <td> <input type="text" name="uLocation" class="form-control rowFilter"> </td>
                                        <td> <input type="text" name="uBrandName" class="form-control rowFilter"> </td>
                                        <td> <input type="text" name="uCategory" class="form-control rowFilter"> </td>
                                        <td> <input type="text" name="uSpeciality" class="form-control rowFilter"> </td>
                                        <td> <select class="form-control rowFilter" name="status"><option value="all">All</option><option value="2">Disable</option><option value="1">Enable</option></select> </td>
                                        <td> <input type="hidden" name="uAction" class="form-control uAction"> </td>
                                    </tr>
                                </thead>
                                <tbody id="doctorMasterData">
                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9">
                            <h4 class="card-title">Doctor </h4>
                        </div>
                        <div class="col-3">
                            <a href="/route/doctors/form" class="btn btn-info float-right p-2">ADD NEW</a>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12" id="ageMasterListDiv">
                                    <table id="doctorListTable" class="table table-bordered display nowrap order-column w-100">
                                        <tbody class="">
                                        </tbody>
                                    </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- main-panel ends -->
</div>


<script type="text/javaScript">
    function getDoctorData(){
        var limit = 20;
        var page = 0;
        var sort_by = "uId";
        var search_query = [];
        $.ajax({
            url: "/route/doctors/gridData",
            type: 'post',
            // dataType: 'json',
            data: {limit:limit,page:page,sort_by:"uId",search_query:search_query},
            cache: false,
            // processData: false,
            // contentType: false,
            success: function(result) {
                var data = JSON.stringify(result);
                data = JSON.parse(data);
                var tableData = '';
                if(data.result && data.result.length){
                    for (var i = 0; i < data.result.length; i++) {
                        var row = data.result[i];
                        row.uName = row.uName?row.uName:"";
                        row.uEmail = row.uEmail?row.uEmail:"";
                        row.uMobile = row.uMobile?row.uMobile:"";
                        row.uLocation = row.uLocation?row.uLocation:"";
                        row.uBrandName = row.uBrandName?row.uBrandName:"";
                        row.uCategory = row.uCategory?row.uCategory:"";
                        row.uSpeciality = row.uSpeciality?row.uSpeciality:"";
                        tableData += '<tr class="row_'+row.uId+'">';
                            tableData += '<td>'+i+'</td>';
                            tableData += '<td>'+row.uName+'</td>';
                            tableData += '<td>'+row.uEmail+'</td>';
                            tableData += '<td>'+row.uMobile+'</td>';
                            tableData += '<td>'+row.uLocation+'</td>';
                            tableData += '<td>'+row.uBrandName+'</td>';
                            tableData += '<td>'+row.uCategory+'</td>';
                            tableData += '<td>'+row.uSpeciality+'</td>';

                            var html = "";
                            if(row['status']==1){
                                html = '<div class="status_'+row['uId']+'"><a href="javascript:void(0);" class="badge badge-danger disableDoctor" data-uId="'+row['uId']+'">Disable</a></div>';
                            }else{
                                html = '<div class="status_'+row['uId']+'"><a href="javascript:void(0);" class="badge badge-success enableDoctor" data-uId="'+row['uId']+'">Enable</a></div>';
                            }
                            tableData += '<td>'+html+'</td>';

                            var html = "";
                            html += '<a href="/route/doctors/edit/'+row['uId']+'" class="edit_row m-2 badge badge-info" data-id="'+row['uId']+'" >Edit</i></a>';
                            html += '<a href="javascript:void(0);" class="badge badge-danger deleteDoctor" data-uId="'+row['uId']+'">Delete</a>';
                            tableData += '<td>'+html+'</td>';

                        tableData += '<tr>';
                    }
                    $("#doctorMasterData").html(tableData);
                }else{
                    $("#doctorMasterData").html('<tr><td colspan=10><center>NO DATA FOUND</center></td></tr>');
                }
                // <a href="javascript:void(0);" class="badge badge-success enableDoctor" data-uId="'+row['uId']+'">Enable</a>
            },
            error: function(jqXHR, textStatus, errorThrown) {
                var result = jQuery.parseJSON(jqXHR.responseText);
                $(".custom_error").html(result.message);
            }
        });
    }
    $(document).ready(function() {

        getDoctorData();
        // var dataColumns = [{
        //     data: "uId",
        //     visible: false
        // },{
        //     data: "uName",
        //     sTitle: "Name",
        //     visible: true,
        //     // className: "column-130",
        //     render: function (data, type, row) {
        //         var dataRender = "-";
        //         if (row && row.uName) {
        //             dataRender = row.uName;
        //         }
        //         return dataRender;
        //     }
        // },{
        //     data: "uEmail",
        //     sTitle: "Email",
        //     visible: true,
        //     // className: "column-130",
        //     render: function (data, type, row) {
        //         var dataRender = "-";
        //         if (row && row.uEmail) {
        //             dataRender = row.uEmail;
        //         }
        //         return dataRender;
        //     }
        // },{
        //     data: "uMobile",
        //     sTitle: "Mobile",
        //     visible: true,
        //     // className: "column-130",
        //     render: function (data, type, row) {
        //         var dataRender = "-";
        //         if (row && row.uMobile) {
        //             dataRender = row.uMobile;
        //         }
        //         return dataRender;
        //     }
        // },{
        //     data: "uLocation",
        //     sTitle: "Location",
        //     visible: true,
        //     // className: "column-130",
        //     render: function (data, type, row) {
        //         var dataRender = "-";
        //         if (row && row.uLocation) {
        //             dataRender = row.uLocation;
        //         }
        //         return dataRender;
        //     }
        // },{ uBrandName 
        //     data: "uBrandName",
        //     sTitle: "BrandName",
        //     visible: true,
        //     // className: "column-130",
        //     render: function (data, type, row) {
        //         var dataRender = "-";
        //         if (row && row.uBrandName) {
        //             dataRender = row.uBrandName;
        //         }
        //         return dataRender;
        //     }
        // },{
        //     data: "uCategory",
        //     sTitle: "Category",
        //     visible: true,
        //     // className: "column-130",
        //     render: function (data, type, row) {
        //         var dataRender = "-";
        //         if (row && row.uCategory) {
        //             dataRender = row.uCategory;
        //         }
        //         return dataRender;
        //     }
        // },{
        //     data: "uSpeciality",
        //     sTitle: "Speciality",
        //     visible: true,
        //     // className: "column-130",
        //     render: function (data, type, row) {
        //         var dataRender = "-";
        //         if (row && row.uSpeciality) {
        //             dataRender = row.uSpeciality;
        //         }
        //         return dataRender;
        //     }
        // },{
        //     data: "status",
        //     sTitle: "Status",
        //     // width: "50px",
        //     render: function(data, type, row){
        //         var html = "";
        //         if(row['status']==1){
        //             html = '<div class="status_'+row['uId']+'"><a href="javascript:void(0);" class="badge badge-danger disableDoctor" data-uId="'+row['uId']+'">Disable</a></div>';
        //         }else{
        //             html = '<div class="status_'+row['uId']+'"><a href="javascript:void(0);" class="badge badge-success enableDoctor" data-uId="'+row['uId']+'">Enable</a></div>';
        //         }
        //         return html;
        //     }
        // },{
        //     data: "uId",
        //     sTitle: "Action",
        //     render: function (data, type, row) {
        //         var html = "";
        //         html += '<a href="/route/doctors/edit/'+row['uId']+'" class="edit_row m-2 badge badge-info" data-id="'+row['uId']+'" >Edit</i></a>';
        //         html += '<a href="javascript:void(0);" class="badge badge-danger deleteDoctor" data-uId="'+row['uId']+'">Delete</a>';
        //         return html;
        //     }
        // }];

        // var DrawTableInquiry = DrawCustomDataTable("doctorListTable", 350, "/route/doctors/gridData", dataColumns, [
        //     [0, "desc"]
        //     ], "frm_grid_search",null,true,true);

        // $("#frm_grid_search").validate({
        //     errorPlacement: function (error, element) { },
        //     submitHandler: function (form) {
        //         DrawTableInquiry.ajax.reload();
        //     }
        // });


        $(document).on("click", ".disableDoctor", function() {
            var uId = $(this).attr("data-uId");
            $.ajax({
                url: "/route/api/updateUserStatus",
                type: 'post',
                // dataType: 'json',
                data: {uId:uId,status:"D"},
                cache: false,
                // processData: false,
                // contentType: false,
                success: function(result) {
                    var data = JSON.stringify(result);
                    data = JSON.parse(data);
                    if(data.status){
                        $(".status_"+uId).html('<a href="javascript:void(0);" class="badge badge-success enableDoctor" data-uId="'+uId+'">Enable</a>');
                    }
                    // <a href="javascript:void(0);" class="badge badge-success enableDoctor" data-uId="'+row['uId']+'">Enable</a>
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var result = jQuery.parseJSON(jqXHR.responseText);
                    $(".custom_error").html(result.message);
                }
            });
        });

        $(document).on("click", ".enableDoctor", function() {
            var uId = $(this).attr("data-uId");
            $.ajax({
                url: "/route/api/updateUserStatus",
                type: 'post',
                // dataType: 'json',
                data: {uId:uId,status:"E"},
                cache: false,
                // processData: false,
                // contentType: false,
                success: function(result) {
                    var data = JSON.stringify(result);
                    data = JSON.parse(data);
                    if(data.status){
                        $(".status_"+uId).html('<a href="javascript:void(0);" class="badge badge-danger disableDoctor" data-uId="'+uId+'">Disable</a>');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var result = jQuery.parseJSON(jqXHR.responseText);
                    $(".custom_error").html(result.message);
                }
            });
        });

        $(document).on("click", ".deleteDoctor", function() {
            var uId = $(this).attr("data-uId");


            swal({
                title: "Are you sure?",
                text: "you want to delete doctor!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "/route/api/updateUserStatus",
                        type: 'post',
                        // dataType: 'json',
                        data: {uId:uId,status:"R"},
                        cache: false,
                        // processData: false,
                        // contentType: false,
                        success: function(result) {
                            var data = JSON.stringify(result);
                            data = JSON.parse(data);
                            if(data.status){
                                // swal("Poof! Your imaginary file has been deleted!", {
                                //     icon: "success",
                                // });
                                // DrawTableInquiry.ajax.reload();
                                $(".row_"+uId).remove();
                            }
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            swal("Please try after some time!");
                        }
                    });
                    
                } else {
                    // swal("Your imaginary file is safe!");
                }
            });

        });

    });
</script>

<% include ../partials/footer %>